/* You can add custom styles here. */
.badge {
	display: inline-block;
	background: #000 no-repeat 2rem center;
	background-size: 5rem 5rem;
	padding: 1.6rem 4rem 1.6rem 8rem;
	color: #ffffff;
	text-decoration: none;
	font-size: 1.6rem;
	margin: 0 0 0.5rem;
	border-radius: 0.8rem;
	&.osx {
		background-color: #000;
		background-image: url(/img/installation/apple-logo-white.svg);
	}
	&.windows {
		background-color: #04aae8;
		background-image: url(/img/installation/windows-logo-white.svg);
	}
	&.raspberrypi {
		background-color: #cf302a;
		background-image: url(/img/installation/raspberry-pi.svg);
	}
	&.docker {
		background-color: #4896E7;
		background-image: url(/img/installation/docker.svg);
	}
	&.armbian {
		background-color: #ff0000;
		background-image: url(/img/installation/armbian.svg);
	}
	&.ubuntu {
		background-color: #5e2750;
		background-image: url(/img/installation/ubuntu.svg);
	}
}
// @import "plugins/numbered";
